<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.eurekaservicesupport.dao.StockMapper">
  <resultMap id="BaseResultMap" type="com.example.eurekaservicesupport.entity.Stock">
    <id column="stock_id" jdbcType="VARCHAR" property="stockId" />
    <result column="ric" jdbcType="VARCHAR" property="ric" />
    <result column="ticker" jdbcType="VARCHAR" property="ticker" />
    <result column="issuer_sector_id" jdbcType="VARCHAR" property="issuerSectorId" />
    <result column="currency" jdbcType="VARCHAR" property="currency" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="national_usd" jdbcType="DECIMAL" property="nationalUsd" />
    <result column="total_count" jdbcType="INTEGER" property="totalCount" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    stock_id, ric, ticker, issuer_sector_id, currency, price, national_usd, total_count, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from stock
    where stock_id = #{stockId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from stock
    where stock_id = #{stockId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.eurekaservicesupport.entity.Stock">
    insert into stock (stock_id, ric, ticker, 
      issuer_sector_id, currency, price, 
      national_usd, total_count, update_time
      )
    values (#{stockId,jdbcType=VARCHAR}, #{ric,jdbcType=VARCHAR}, #{ticker,jdbcType=VARCHAR}, 
      #{issuerSectorId,jdbcType=VARCHAR}, #{currency,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{nationalUsd,jdbcType=DECIMAL}, #{totalCount,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.eurekaservicesupport.entity.Stock">
    insert into stock
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stockId != null">
        stock_id,
      </if>
      <if test="ric != null">
        ric,
      </if>
      <if test="ticker != null">
        ticker,
      </if>
      <if test="issuerSectorId != null">
        issuer_sector_id,
      </if>
      <if test="currency != null">
        currency,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="nationalUsd != null">
        national_usd,
      </if>
      <if test="totalCount != null">
        total_count,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stockId != null">
        #{stockId,jdbcType=VARCHAR},
      </if>
      <if test="ric != null">
        #{ric,jdbcType=VARCHAR},
      </if>
      <if test="ticker != null">
        #{ticker,jdbcType=VARCHAR},
      </if>
      <if test="issuerSectorId != null">
        #{issuerSectorId,jdbcType=VARCHAR},
      </if>
      <if test="currency != null">
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="nationalUsd != null">
        #{nationalUsd,jdbcType=DECIMAL},
      </if>
      <if test="totalCount != null">
        #{totalCount,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.eurekaservicesupport.entity.Stock">
    update stock
    <set>
      <if test="ric != null">
        ric = #{ric,jdbcType=VARCHAR},
      </if>
      <if test="ticker != null">
        ticker = #{ticker,jdbcType=VARCHAR},
      </if>
      <if test="issuerSectorId != null">
        issuer_sector_id = #{issuerSectorId,jdbcType=VARCHAR},
      </if>
      <if test="currency != null">
        currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="nationalUsd != null">
        national_usd = #{nationalUsd,jdbcType=DECIMAL},
      </if>
      <if test="totalCount != null">
        total_count = #{totalCount,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where stock_id = #{stockId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.eurekaservicesupport.entity.Stock">
    update stock
    set ric = #{ric,jdbcType=VARCHAR},
      ticker = #{ticker,jdbcType=VARCHAR},
      issuer_sector_id = #{issuerSectorId,jdbcType=VARCHAR},
      currency = #{currency,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      national_usd = #{nationalUsd,jdbcType=DECIMAL},
      total_count = #{totalCount,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where stock_id = #{stockId,jdbcType=VARCHAR}
  </update>
</mapper>